{# src/Acme/JobBundle/Resources/views/Default/list.html.twig #}
{% extends 'JobBundle::layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/job/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
  <h1><a href="{{ path('JobBundle_category', { 'slug': category.slug }) }}">{{ category.name }}</a></h1>
<div style="height:20px;"></div>
    <table class="records_list">
        <thead>
            <tr>
                <th>Type</th>
                <th>Company</th>
                <th>Url</th>
                <th>Position</th>
                <th>Location</th>
              <!--  <th>Description</th> -->
                <th>How_to_apply</th>
                <th>Email</th>
                <th>Expires_at</th>
                <th>Created_at</th>
             
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
        {% for job in jobs %}
            <tr>
                
                <td>{{ job.type }}</td>
                <td>{{ job.company }}</td>
              
                <td>{{ job.url }}</td>
                <td>{{ job.position }}</td>
                <td>{{ job.location }}</td>
               
                <td>{{ job.howtoapply }}</td>
                <td>{{ job.email }}</td>
                <td>{% if job.expiresat %}{{ job.expiresat|date('Y-m-d H:i:s') }}{% endif%}</td>
                <td>{% if job.createdat %}{{ job.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('JobBundle_show', { 'id': job.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('JobBundle_edit', { 'id': job.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
          </tr>
            {% if category.morejobs %}
            <div class="more_jobs">
              <a href="{{ path('JobBundle_category', { 'slug': category.slug }) }}">{{ category.morejobs }}</a>
            </div>
          {% endif %}
       {% endfor %}
                  
        </tbody>
    </table>
 
    <ul>
        <li>
            <a href="{{ path('JobBundle_create') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}