{# src/Acme/BlogBundle/Resources/views/Page/new.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}
{% block title %}Editare Articol{% endblock %}

{% block body %} 
	<div class="center_div">
		<p id="d">Blog Website</p>
	    {% if app.user %}
            <p style="font-size:12px;">Logged in as: <b>{{ app.user.username }} </b>
            <a href="{{path('logout')}}" >Logout</a></p>
        {%endif%}
    </div>
    <header>
        <h1>Editare Articol</h1>  
    </header>
    <form action="{{ path('BlogBundle_edit',{'id':blog.id}) }}" method="post" {{ form_enctype(form) }} class="blogger">
     {{ form_errors(form) }}
     
     
     {{ form_row(form.title) }}
     {{ form_row(form.content) }}
    
     {{form_rest(form) }}
    
     <input type="submit" value="Modifica" class="buton"/>
    </form>
 </br></br><a href="{{path('BlogBundle_list')}}" class="buton">Lista articole</a>
{% endblock %}